/* Enter your custom styles here */
#__data21{
    width: 400px;
}
.imageBox{
    /* height: 100%; */
    
    /* overflow: hidden; */
}
.img{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
}
.container{
    display: block;
}
.m-auto{
    margin: auto;
}
.btnLogin{
    margin-top: 10px;
}
.divisionLine{
    border-top: 1px solid #444444;
    margin: 30px 0px;
}